@page "/employees/edit/{EmployeeId:int}"
@inject HttpClient http;
@inject NavigationManager manager;
@using System.Text.Json;
<h3>Employee Edit</h3>
@if (employee == null)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading....</span>
        </div>
    </div>
}
else
{
    <div class="row">
        <EmployeesForm employee="employee" OnValidSubmit="OnValidSubmit"></EmployeesForm>
    </div>
}

@code {
    [Parameter]
    public int EmployeeId { get; set; }
    private Employee employee;
    protected override async Task OnInitializedAsync()
    {
        var response = await http.GetAsync($"api/employees/{EmployeeId}");
        if (response.IsSuccessStatusCode)
        {
            employee = JsonSerializer.Deserialize<Employee>(await response.Content.ReadAsStringAsync(), new JsonSerializerOptions()
                {
                    PropertyNameCaseInsensitive = true
        });
        }
        else
        {
            manager.NavigateTo("employees");
        }
    }
    private async Task OnValidSubmit()
    {
        var response = await http.PutAsJsonAsync("api/employees", employee);
        if (response.IsSuccessStatusCode)
        {
            manager.NavigateTo("employees");
        }
        else
        {
            Console.WriteLine(await response.Content.ReadAsStreamAsync());
        }
    }
}
